@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,700;1,800&family=The+Nautigal:wght@400;700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");


body{
    /* background-color: #000000de; */
    background-color: rgb(41, 40, 40);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.sharma{
    font-family: 'Montserrat', sans-serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Moon Dance', cursive;
    color: rgb(255, 174, 0);
}
.nav-item{
    font-size: large;
    margin-left: 30px;
    font-weight: 500;
}
.nav-link{
    border-radius: 5px;
}
.active{
    color: deepskyblue !important;
}
.contact-form{
    background-color: white;
    color: black !important;
    width: fit-content;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 50px !important;
    font-size: medium;
    
}
.nav-link:hover{
    /* border: none; */
    background-color: white;
    border-radius: 5px;
    color: black !important;
}
.contact-form:hover{
    background-color: aqua;
}
.shape{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 187, 0);
    /* border-top-right-radius: 50px; */
    border-top-left-radius: 410px;
    border-bottom-right-radius: 312px;
    border-bottom-left-radius: 174px;
    
}
.socialIcon i, .footersocialIcon{
    margin: 10px;
    font-size: 25px;
    background-color: #C4C4C4;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 2px rgb(109, 105, 105);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(83, 81, 81);
    
}
.footersocialIcon {
    font-size: 18px;
}
.socialIcon i:hover, .footersocialIcon:hover{
    box-shadow: none;
}
.socialIcon i:visited{
    color: rgb(83, 81, 81);
}
@media screen and (max-width: 280px) {
    .info-text{
        font-size: 12px;
    }
    .gaurav{
        font-size: 12px !important;
    }
    .socialIcon{
        margin-top: -80px;
    }
    .socialIcon i{
        font-size: 18px;
    }
    
}


.container{
/* height: 500px; */
    /* background-color: red; */
    padding-top: 1px;   
}

.bt{
    border: 4px solid white !important;
    height: fit-content !important;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1,h2,h3,h4,h5{
    margin-top: auto;
    margin-bottom: 0;
    line-height: 0;
    font-size: large;
    color: white;
}
.aboutExplore{
    border-left: 3px solid white;
    border-right: 3px solid white;
    width: fit-content;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    font-size: 14px;
}
.trans-bg{
    background-color: transparent;
    border: none;
    font-size: small;
    color: #C4C4C4;
}
.skillsimg{
    width: 50%;
}
.skillnext{
    width: 50%;
}
@media screen and (max-width: 780px) {
    .skillsimg{
        width: 100%;
    }
    .skillnext{
        width: 80% !important;
    }
    #aboutMyself h1{
        font-size:10px !important;
    }
}
.skillsimg .text-center i{
    font-size: 50px;
}
.htmlimg, .javaimg{
    color: rgb(253, 110, 53);
}
.cssimg,.pythonimg{
    color: #3591fa;
}
.javascimg{
    color: #f5ce1f;
}

.bootstimg {
    height: 50px;
}
.icnimgtxt, .copyright{
    color: white;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.wordpimg{
    color: white;
}
.copyright{
    font-size: small;
    
}
.footer{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px -2px 2px #736c6c;
}
